main {
	width: min(100%, 700px);
	margin: 0 auto;
}

.title {
	font-size: 20px;
	margin-block-end: 8px;
}
.content {
	padding-inline-start: 1em;
	color: gray;
	font-size: 14px;
}

#basicInfoContent {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
}
#basicInfoContent > div {
	min-width: 50%;
	display: flex;
	column-gap: 1em;
}

#basicInfoContent > div > span:first-child {
	width: 4em;
	flex: none;
}
#basicInfoContent > div > span:first-child::after {
	content: ":";
}

p {
	margin-block: 8px;
}

#jobContent :is(h3, h4) {
	color: black;
	display: flex;
	justify-content: space-between;
	margin-block: 8px;
}

#jobContent :is(h3, h4) > span:last-child {
	color: gray;
	font-size: 14px;
}

.jobContentItemContent,
.projectContent {
	padding-inline-start: 1em;
}
